
.site-header{
  width: 100%;
}
.main-nav{
  background-color: #000000;
  height:40px;
  padding: 2%;
  position: fixed;
  z-index: 99999;
  width: 100%;

}
.main-nav ul{
  margin: 0 0 0 1%;
  padding: 0;
  text-align: right;

}
.main-nav ul li{
  display: inline;
  padding:.5em 1.25em;
  line-height: 2;
}
.header-logo{
  color: #ffffff;
  width: 30px;
  height: 30px;
  background: #000000;
  float: left;
  border-radius: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.5;
  border: 2px solid #ffffff;
}
.home-section{
  width: 100%;
  /*background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
  position: relative;
  height: 200px;
}
.home-section div{
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  height: 85%;
}

.home-section h1{
  text-align: right;
  font-size: 1.5em;
  font-weight: bold;
  opacity: 1;
  padding: 2% 7% 0 0;
  color: #000000;
}
.home-section h3{
  text-align: right;
  padding-right: 7%;
  line-height: 0;
}
.background-image{
  width: 100%;
  height: 100%;
  margin: 0;
  height: inherit;
}
.foreground-image{
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}
.filter{
  width: 90%;
  margin: 5% 0 0 5%;
  height: 40px;
  padding: 2%;
  border: 1px solid #a6a6a6;
  font-size: 1em;
  outline: none;
}
.article{
  width: 90%;
  margin-left: 10%;
}

.article-text{
  margin-left: 5%;
  padding: 0px;
}
.pub{
  font-size: .7em;
}
.read{
  color:#000000;
  font-weight: bold;
}

.site-footer{
  background-color: #000000;
  text-align: center;
}
.site-footer ul li{
  display: inline;
  padding: .5em .5em;
}

@media only screen and (min-width: 500px){
  .home-section{
    height: 300px;
  }
  .home-section h1{
    font-size: 2em;
  }
  .home-section h3{
    font-size: 1.5em;
    line-height: .2;
  }
  .filter{
    width: 60%;
    margin: 5% 0 5% 20%;
    height: 50px;
    font-size: 1.5em;
  }

}

@media only screen and (min-width: 700px){
  .home-section{
    height: 400px;
  }
  .home-section h1{
    font-size: 2.5em;
  }
  .home-section h3{
    font-size: 2em;

  }
  .home-section div{
      border: .5em solid  rgba(255,0,0,0.4);
  }
}

@media only screen and (min-width: 940px){
  .home-section{
    height: 550px;
  }
  .home-section h1{
    font-size: 3.5em;
  }
  .home-section h3{
    font-size: 2.5em;
  }
  .home-section div{
      border: 1em solid  rgba(255,0,0,0.4);
  }
}
