
.site-header{
  width: 100%;
}
.header-logo{
  color: #ffffff;
  width: 30px;
  height: 30px;
  background: transparent;
  float: left;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.5;
  border: 3px solid #ffffff;
  margin: 7px;

}
.main-nav{
  background-color: red;
  height:50px;
  position: fixed;
  z-index: 99999;
  width: 100%;

}
.main-nav ul li{
  padding: 2px 5px;
  line-height: 2;
  text-align: left;
  border-top: 2px solid #666666;
  border-bottom: 2px solid #404040;
}
.icon-menu{
  color: #ffffff;
  float: right;
  font-size: 2em;
  padding: 0;
  margin: 5px 10px 0 0;
}
span{
  padding:0 10px 0  5px;
}
.nav-menu{
  background-color: #4d4d4d;
  width: 0;
  height: auto;
  overflow: hidden;
  float: right;
  transition: 1s;
}
.nav-menu-tgl{
  width: 40%;
  overflow: hidden;

}
.spacer{
  width: 100%;
  height: 50px;
}
.home-section{
  width: 100%;
  height: auto;
}
.home-div{
  width: 88%;
  margin: 5% 5% 0 5%;
  height: auto;
}
.home-div h1{
  color: #ffffff;
  text-align: center;
}
.home-div h3{
  color: #ffffff;
  text-align: center;
  padding: 2%;
  
}
.filter{
  width: 90%;
  margin: 5% 0 0 5%;
  height: 40px;
  padding: 2%;
  border: 1px solid #a6a6a6;
  font-size: 1em;
  outline: none;
  background-color: #ffffff;
}
.article{
  width: 90%;
  margin-left: 10%;
}

.article-text{
  margin-left: 5%;
  padding: 0px;
}
.pub{
  font-size: .7em;
}
.read{
  color:#000000;
  font-weight: bold;
}

.site-footer{
  background-color: #4d4d4d;
  text-align: center;
}
.site-footer a{
  padding: 10px;
}


@media only screen and (min-width: 500px){


}

@media only screen and (min-width: 700px){

}

@media only screen and (min-width: 940px){

}
